.custom-bg-color-user {
  background-color: #8fc4c0;
}
.positionNavbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #ffffff;
}
.custom-taller-col {
  min-height: 50px;
}
.user-image {
  width: "40px";
  height: "40px";
}
.sidebar-bg {
  background-color: #34495e;
}
.sidebar-size {
  width: 40px;
}
.icon-size {
  width: 25px;
  height: 25px;
}
.homepage-bg {
  background-color: rgb(231, 231, 231);
}

.enlarged {
  width: 5 rem;
  height: 5 rem;
}

.border-BiBookOpen {
  color: #8fc4c0;
}

.custom-bg {
  background-color: #8fc4c0;
}
